<!-------------------------------------------------------------------------------------->
<!----------------------------------------MAIN-BANNER----------------------------------->
<!-------------------------------------------------------------------------------------->
<section class="home">
    <!--Home-Content-->
    <div class="home-content">
        <h3 class="home-tiquet">Compra en grande || Crece en grande</h3>
        <h1 class="home-title">Audífonos inalámbricos resistentes al agua</h1>
            <div class="home-prices">
                <h4 class="price-now">$159.000</h4>
                <h4 class="price-before">$169.900</h4>
            </div>
        <p class="home-product-description">
            Te permiten recibir/rechazar la llamada, ajustar el volumen,
            cambiar la pista y activar Alexa, Siri o Google orant con el botón multifunción (pulsar).
        </p>
            <div class="home-products-btn">
                <a href="" id="buy-now" class="home-product-buy-now">Comprar Ahora ></a>
                <a href="" id="home-product-info" class="home-product-info">Mas Informacion</a>
            </div>
    </div>
    <!--Home-Product Img-->
    <div class="home-product-img">
        <img src="../../../assets/img/product-example.png" alt="Audifonos inalambricos">
    </div>
</section>
<!-------------------------------------------------------------------------------------->
                                <!--CALL TO ACTION-->
<!-------------------------------------------------------------------------------------->




<!-------------------------------------------------------------------------------------->
<!-------------------------------------FEATURED PRODUCTS-------------------------------->
<!-------------------------------------------------------------------------------------->




<!-------------------------------------------------------------------------------------->
<!------------------------------------CALL-TO-ACTION-2---------------------------------->
<!-------------------------------------------------------------------------------------->




<!-------------------------------------------------------------------------------------->
<!-------------------------------------CATEGORIES--------------------------------------->
<!-------------------------------------------------------------------------------------->




<!-------------------------------------------------------------------------------------->
<!-------------------------------------FORMULARIO--------------------------------------->
<!-------------------------------------------------------------------------------------->